@model WebApplication1.Models.motorista

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>motorista</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.contacto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.contacto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.n_motorista)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.n_motorista)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.motorista_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
